@import "tailwindcss" source(none);
@source '../**/*.{js,ts,jsx,tsx}';
@source '../../../packages/ui/src/**/*.{js,ts,jsx,tsx}';

@import "@repo/config-tailwind/theme.css";
@plugin "@tailwindcss/typography";

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
